.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;

  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  z-index: 1001;
}

.closeButton {
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}